span.letras {
    margin: 0 3px;
    font-size: 30px;
}

.inputComponent-container {
    position: relative;
}

.inputComponent-container p {
    position: absolute;
    bottom: 12px;
    right: 10px;
    font-family: Poppins;
}
