@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;

    box-sizing: border-box;
}

:root {
    --red-800: #DA2535;
    --red-900: rgb(197, 39, 53);
    --black-800: #292929;
    --white: #fff;
    --green-700: #04d361;
}